@CHARSET "UTF-8";

/*ログイン画面機能用CSS*/

.loginbox{

	margin: 100px auto;
	border: outset 8px #D8D8D8;
	width:350px;
	height:400px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	background-color: #D8D8D8;
}

.loginTitle{
	width: 100%;
	height:50px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: ridge 5px #FFFFFF;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #151515;
	font-size: xx-large;
}

.loginform{

	width:80%;
	margin: 0 auto;
	height:335px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	background-color: #D8D8D8;

}



.loginform input[type="text"]{
	height: 30px;
	width:100%;
	margin: 0 auto;
}

.loginform input[type="password"]{
	height: 30px;
	width:100%;
	margin: 0 auto;
}


.loginform input[type="submit"]{
	margin-top :80px;
	margin-left :30;
	font-size: x-large;
	font-weight: bold;
	width: 80%;
	border-color :#2EFE2E;
	background-color: #2EFE2E;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;

}

/* パスワード変更画面用CSS */

.changePass{
	background-color: #FFFF99;
	width:40%;
	height: auto;
	margin:0 auto;
	margin-top: 30px;
	border: 2px solid #000000;
}

.changePass p{
	text-align: center;
}

/* ユーザー登録/ユーザー設定変更画面用CSS */

.insertUser{
	background-color: #FFFF99;
	width:40%;
	height: auto;
	margin:0 auto;
	margin-top: 30px;
	border: 2px solid #000000;
}

.insertUser p{
	text-align: center;
}

.insertUser dd p{
	text-align: justify;
	text-justify: distribute-all-lines;
}

ul.noen{
	list-style-type: none;
	float:left;
}

html,body{
	margin:0;
	padding:0;
	height:100%;
}

div#glayLayer{
	display:none;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:#7BAEB5;
	filter:alpha(opacity=75);
	opacity: 0.75;
}
* html div#glayLayer{
	position:absolute;
}
#overLayer{
	display:none;
	width:400px;
	background:white;
	padding:10px;
	position: fixed;
	top:50%;
	left:50%;
}

#overLayer button{

}

* html #overLayer{
	position: absolute;
}


/* 勤務時間表(全体・個人)画面用CSS */

.workTime{
	width:70%;
	margin: 0 auto;
}

.selectbox{
	border: 1px solid #000000;
	background-color: #d7d7d7;
	width: 450px;
	height: auto;
	padding-left: 5px;
	padding-bottom: 3px;
}

.worksheet .record{
	background: #d2d2d2;
}

.worksheet tr{
	text-align: center;
}

.worksheet tr th{
}

.worksheet tr td{
	width: auto;
	padding: 1px 6px;
}

.worksheet tr:nth-child(even){
	background: #afeeee;
}

.right{
	text-align:right;
	margin-right:35%;
}


/*
エラー画面用CSS
作成者：水島創太
作成日：2015/8/13
更新日：
更新者：
備考：
*/

#errorTitle{
	background-color: #F6CECE;
	width:30%;
	height: auto;
	margin:0 auto;
	border: 2px solid #F6CECE;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	font-weight: bold;
	font-size: large;
}

#errorMsg{
	height: auto;
	margin: 0 auto;
	margin-top: 50px;
	border: none;
	border: none;
	width:30%;
	font-weight: bold;
}

/*休日設定用CSS
作成者：水島創太
作成日：2015/8/14
更新日：
更新者：
備考：
*/

#holidayListTitle{

	width: 20%;
	border: inset 2px #BDBDBD;
	background-color: #BCF5A9;
	margin:0 auto;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 40px;

}

#holidaybox{

	border: 2px solid #333B3E;
	background-color: #FFFF99;
	margin: 0 auto;
}

.holidayForm{
	border: 1px solid #333B3E;
	background-color: #FFFF99;
	margin: 0 auto;
}

#holidayFormTitle{

	width: 800px;
	margin:0 auto;
	border-bottom :1px solid #FFFFFF;
	background: #7CADB6;
}



.holidaydd dl{
	width:800px;
	margin:10px auto;
}

.holidaydd dl dt{
	background: #7CADB6;
	border-bottom:1px solid #FFFFFF;
	cursor: pointer;
}

.holidaydd dl dd{
	border: 1px solid #FFFFFF;
}

.holidaylist{
	margin-left: auto;
	margin-right: auto;
}

.holidaylist .record{
	background: #d2d2d2;
}

.holidaylist tr{
	text-align: center;
}
.holidaylist tr:nth-child(even){
	background: #afeeee;
}

.holidaylist p{
	margin-left:50%;
}

/*休憩時間設定用CSS*/
.restbox{

	border-bottom: solid 2px #000000;
	margin-left:auto;
	margin-right:auto;
	width:98%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

}

.dayOfWeekbox{

	border : none;
	/*width:20%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;*/

}

.setRestTimebox{

	border : none;
	/*-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;*/
}

.weekboxHeight{

	margin-top: 32px;
	text-align: center;

}

.setRestTimebox p{
	margin-top:3px;
	margin-bottom: 3px;
}

.restbox input[type="submit"]{

	margin-top: 30px;
	width:400px;
	height:70px;
	font-size: x-large;
	font-weight: bold;

}

#dayofWeekTitle{

	width: 20%;
	background-color: #CEF6F5;
	text-align: center;
	font-weight: bold;
	border: solid 2px #000000;

}

#setRestTimeTitle{

	width : 100%;
	background-color: #ECF6CE;
	text-align: center;
	font-weight: bold;
	border: solid 2px #000000;
}

/*メインメニュー用CSS*/

.mainMenuCalendar table {
    width: 100%;
}

.mainMenuCalendar table th {
    background: #EEEEEE;
}

 .mainMenuCalendar table th,
table td {
    border: 1px solid #CCCCCC;
    width: 14.28%;
    padding: 5px;
}

.mainMenuCalendar table td a:hover{
	opacity: 0.75;
	cursor: pointer;
}

#change{
	text-decoration: underline;
}

#change:hover{
	opacity: 0.75;
	cursor: pointer;
}

.day-calendar{

	width: 100%;
	border: hidden;
	font-size: large;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;

}

.event-calendar{
}

.work-calendar{
	width: 100%;
	border: hidden;
	font-size: 11px;
	text-align: bold;
	color: #000000;

}
