@charset "UTF-8";

body{
	background-color: #ddd;
}

.box{
}

.float-left{
	float: left;
}

.float-right{
	float:right;
}

.clearfix:after{
	content:"";
	display: block;
	clear: both;
}

.container{
	background-color: #fff;
	height: auto;
	width: 1100px;
	margin: 0px auto;
}

/* 共通のタイトルを入れるボックス*/

.title{
	margin: 0 auto;
}

/* ユーザー情報とログアウトリンクを入れるボックス*/

.width70{
	width: 98%;
	margin: 0 auto;
}

.userinfo{
	border: 2px solid #00ff00;
	width:30%;
	height: 80px;
}

.userinfo p{
	paddin-top: 15px;
	text-align: right;
}

/*メニューバーを格納するボックス*/

.menu{
	width: 100%;
	height: 50px;
}

/*ページのメインコンテンツを格納するボックス*/

.main-countainer{
	border: 2px solid 0000ff#
	width: 100%;
}

.footer{
	border-top: 2px solid #dddd00;
	margin-top: 30px;
	width: 100%;
	text-align: center;
}


h1{
  	text-align: center;
  	background-color: #00bfff;
	padding: 10px,10px,10px,2px;
	font-famliy: "HGP創英角ゴシックUB","HGSゴシックE",sans-serif;
	border: 3px double ;
}

/*メニューバーCSS*/

#dropmenu{
	list-style-type: none;
	width: 98%;
	height: 40px;
	margin: 0 auto;
	padding: 0;
	background: #8a9b0f;
	border-bottom: 5px solid #535d09;
	border-radius: 3px 3px 0 0;
}

#dropmenu li{
	position: relative;
	width: 20%;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}

#dropmenu li a{
	display: block;
	margin: 0;
	padding: 15px 0 11px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
}

#dropmenu li:hover > a{
	background: #6e7c0c;
	color: #eff7b1;
}

#dropmenu > li:hover > a{
	border-radius: 3px 3px 0 0;
	}

#dropmenu li ul{
	list-style: none;
	position: absolute;
	width: 50%;
	top: 100%;
	left: 0;
	margin: 0:
	padding: 0;
	border-radius: 0 0 3px 3px;
}

#dropmenu li:last-child ul{
	left: -100%;
	width: 100%
}

#dropmenu li ul li{
	overflow: hidden;
	width: 200%;
	height: 0;
	color: #fff;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	-o-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
	z-index: 2;
}

#dropmenu li ul li a{
	padding: 13px 15px;
	background: #6e7c0c;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
}

#dropmenu li:hover ul li{
	overflow: visible;
	height: 38px;
	border-top: 1px solid #7c8c0e;
	border-bottom: 1px solid #616d0b;
}

#dropmenu li:hover ul li:first-child{

}

#dropmenu li:hover ul li:last-child{
	border-bottom: 0;
}

#dropmenu li:hover ul li:last-child a{
	border-radius: 0 0 3px 3px;
}